@using Microsoft.AspNetCore.Identity
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager


@if (SignInManager.IsSignedIn(User))
{
    <li>
        <a  class="nav-link text-white" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Bem vindo &emsp; <div class="text-info">@User.Identity?.Name</div> </a>
    </li>
    <li>
        <form  class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button  type="submit" class="nav-link btn btn-link text-danger">Sair</button>
        </form>
    </li>
}
else
{
    @* <li>
        <a asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li>
        <a asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li> *@

    <li class="dropdown"><a asp-area="Identity" asp-page="/Account/Login"><img src="~/avatars/nopicture.png" alt="User-Profile"
            class="img-fluid avatar avatar-50 avatar-rounded"> <i
                class="bi bi-chevron-down dropdown-indicator"></i></a>
            <ul>
              <li>
                <a asp-area="Identity" asp-page="/Account/Login">Login</a>
              </li>
              <li>
                <a asp-area="Identity" asp-page="/Account/Register">Cadastrar</a>
              </li>
            </ul>
    </li>
}
