@{
    ViewData["Title"] = "Meu Historico";
    Layout = "~/Views/Shared/_LayoutCliente.cshtml";
}

<h1>Meu Historico</h1>
<h1>Meu Historico</h1>
<h1>Meu Historico</h1>
<h1>Meu Historico</h1>
<h1>Meu Historico</h1>
<h1>Meu Historico</h1>
<h1>Meu Historico</h1>
<h1>Meu Historico</h1>
<h1>Meu Historico</h1>
<h1>Meu Historico</h1>
<h1>Meu Historico</h1>
<h1>Meu Historico</h1>
<h1>Meu Historico</h1>