@{
    ViewData["Title"] = "Status do Serviço";
    Layout = "~/Views/Shared/_LayoutCliente.cshtml";
}

<h1>Status Serviço</h1>
<h1>Status Serviço</h1>
<h1>Status Serviço</h1>
<h1>Status Serviço</h1>
<h1>Status Serviço</h1>
<h1>Status Serviço</h1>
<h1>Status Serviço</h1>
<h1>Status Serviço</h1>
<h1>Status Serviço</h1>
<h1>Status Serviço</h1>
<h1>Status Serviço</h1>
<h1>Status Serviço</h1>
<h1>Status Serviço</h1>