@model CentroAutomotivo.Models.Marca

@{
    ViewData["Title"] = "Excluir Marca";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Marcas</h1>
<h5>Tem certeza que deseja excluir esta Marca?</h5>
<hr />
<div class="row">
    <div class="col">
        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <div class="row">
                <div class="form-group col-4">
                    <label asp-for="Nome" class="control-label"></label>
                    <input asp-for="Nome" class="form-control" readonly/>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Excluir" class="btn btn-danger" />
                <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
            </div>
        </form>
    </div>
</div>
