@{
    ViewData["Title"] = "Cadastro de Veiculo";
    Layout = "~/Views/Shared/_LayoutCliente.cshtml";
}

<h1>Cadastro de veiculo</h1>
<h1>Cadastro de veiculo</h1>
<h1>Cadastro de veiculo</h1>
<h1>Cadastro de veiculo</h1>
<h1>Cadastro de veiculo</h1>
<h1>Cadastro de veiculo</h1>
<h1>Cadastro de veiculo</h1>
<h1>Cadastro de veiculo</h1>
<h1>Cadastro de veiculo</h1>
<h1>Cadastro de veiculo</h1>
<h1>Cadastro de veiculo</h1>
<h1>Cadastro de veiculo</h1>
<h1>Cadastro de veiculo</h1>

