@model CentroAutomotivo.Models.Veiculo

@{
    ViewData["Title"] = "Excluir Veículo";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Veículos</h1>
<h5>Tem certeza que deseja excluir este Veículo?</h5>
<hr />
<form asp-action="Delete">
    <div class="row">
        <div class="col-lg-7">
            <div class="row">
                <div class="form-group col-6">
                    <label asp-for="Nome" class="control-label"></label>
                    <input asp-for="Nome" class="form-control" readonly />
                </div>
                <div class="form-group col-6">
                    <label asp-for="AppUserId" class="control-label"></label>
                    <input asp-for="AppUser.Nome" class="form-control" readonly />
                </div>
            </div>
            <div class="row">
                <div class="form-group col-4">
                    <label asp-for="Placa" class="control-label"></label>
                    <input asp-for="Placa" class="form-control" readonly />
                </div>
                <div class="form-group col-4">
                    <label asp-for="ModeloId" class="control-label"></label>
                    <input asp-for="Modelo.Nome" class="form-control" readonly />
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Excluir" class="btn btn-danger" />
                <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
            </div>
        </div>
        <div class="col-lg-5">
            <div class="row">
                <div class="form-group col-12 custom">
                    <label asp-for="Imagem" class="control-label"></label>
                    @if (Model.Imagem != null)
                    {
                        <img src="@Model.Imagem" class="img-fluid border" alt=""
                        style="min-width: 500px; height: auto; max-width: 100%;">
                    }
                    else
                    {
                        <h4 class="text-center text-danger">Não há imagem para este Veículo</h4>
                    }
                </div>
            </div>
        </div>
    </div>
</form>