@model CentroAutomotivo.Models.Veiculo

@{
    ViewData["Title"] = "Editar Veículo";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Veículos</h1>
<h6>Editar</h6>
<hr />

<form asp-action="Edit" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row">
        <div class="col-lg-7">
            <div class="row">
                <div class="form-group col-6">
                    <label asp-for="Nome" class="control-label"></label>
                    <input asp-for="Nome" class="form-control" placeholder="Nome" />
                    <span asp-validation-for="Nome" class="text-danger"></span>
                </div>
                <div class="form-group col-6">
                    <label asp-for="AppUserId" class="control-label"></label>
                    <select asp-for="AppUserId" class="form-control custom-select" asp-items="ViewBag.AppUserId">
                        <option selected disabled>Selecione...</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-4">
                    <label asp-for="Placa" class="control-label"></label>
                    <input id="placa" asp-for="Placa" class="form-control" placeholder="ABC-9999" />
                    <span asp-validation-for="Placa" class="text-danger"></span>
                </div>
                <div class="form-group col-5">
                    <label asp-for="ModeloId" class="control-label"></label>
                    <select asp-for="ModeloId" class="form-control custom-select" asp-items="ViewBag.ModeloId">
                        <option selected disabled>Selecione...</option>
                    </select>
                </div>
            </div>
            <div class="form-group mt-2">
                <input type="submit" value="Salvar" class="btn btn-success" />
                <a asp-action="Index" class="btn btn-danger">Cancelar</a>
            </div>
        </div>
        <div class="col-lg-5">
            <div class="row d-flex flex-column align-items-center">
                <div class="form-group col-12 custom">
                    <label asp-for="Imagem" class="control-label"></label>
                    <input type="file" asp-for="Imagem" class="form-control" accept=".jpg,.jpeg,.png,.gif,.jfif" />
                </div>
                @if (Model.Imagem == null)
                {
                    <h4 class="text-center text-danger" id="withoutImg">Não há imagem para este Veículo</h4>
                }
                <img src="@Model.Imagem" class="img-fluid border" id="imgBanco" />
                <img src="" class="img-fluid border" id="PreviewImage" />
                <span asp-validation-for="Imagem" class="text-danger"></span>
            </div>
        </div>
    </div>
</form>

@section Scripts{
<script>
    window.addEventListener('load', function () {
        document.querySelector('input[type="file"]').addEventListener('change', function () {
            if (this.files && this.files[0]) {
                var img = document.getElementById('PreviewImage');
                img.src = URL.createObjectURL(this.files[0]);

                var imgBanco = document.getElementById('imgBanco');
                var semImg = document.getElementById('withoutImg');

                imgBanco.style.display = 'none';
                semImg.style.display = 'none';
            }
        });
    });

    $(document).ready(function () {
            $("#placa").inputmask('AAA-9#99');
    });
</script>
}