@{
  ViewData["Title"] = "Home";
}

<!-- ======= Constructions Section ======= -->
<div class="card-bg" style="background-image: url();">
  <section id="sobre" class="constructions">


    <div class="container" data-aos="fade-up">

      <div class="section-header">
        <h2 class="">Sobre nós</h2>
        <div class="">A Java Centro Automotivo é uma oficina mecânica especializada em serviços automotivos completos
          para veículos de todos os tipos. Com anos de experiência no setor, nossa equipe altamente qualificada de
          mecânicos está pronta para oferecer serviços confiáveis e de qualidade para nossos clientes. Nosso objetivo é
          proporcionar uma experiência de atendimento excepcional para cada um de nossos clientes. Trabalhamos com um
          forte compromisso com a satisfação do cliente e garantimos que todos os serviços sejam realizados com a máxima
          eficiência, utilizando tecnologia de ponta e peças de alta qualidade. Esperamos vê-lo em nossa oficina em
          breve e sermos sua escolha para todas as suas necessidades automotivas.</div>
      </div>

      <div class="row gy-4">

        <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
          <div class="card-item">
            <div class="row">
              <div class="col-xl-12">
                <div class="card-bg" style="background-image: url(assets/img/sobre01.jpg);"></div>
              </div>
            </div>
          </div>
        </div><!-- End Card Item -->

        <div class="col-lg-4" data-aos="fade-up" data-aos-delay="200">
          <div class="card-item">
            <div class="row">
              <div class="col-xl-12">
                <div class="card-bg" style="background-image: url(assets/img/sobre02.jpg);"></div>
              </div>
            </div>
          </div>
        </div><!-- End Card Item -->

        <div class="col-lg-4" data-aos="fade-up" data-aos-delay="300">
          <div class="card-item">
            <div class="row">
              <div class="col-xl-12">
                <div class="card-bg" style="background-image: url(assets/img/sobre03.jpg);"></div>
              </div>
            </div>
          </div>
        </div><!-- End Card Item -->

      </div>

    </div>



  </section><!-- End Constructions Section -->

</div>

<!-- ======= Services Section ======= -->
<section id="servico" class="services section-bg">
  <div class="container" data-aos="fade-up">

    <div class="section-header">
      <h2>Serviços</h2>
      <p>Na Java Centro Automotivo, estamos comprometidos em fornecer serviços automotivos confiáveis e acessíveis.</p>
    </div>

    <div class="row gy-4 justify-content-center">

      <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
        <div class="service-item  position-relative">
          <div class="icon">
            <i class="fa-solid fa-wrench"></i>
          </div>
          <h3>Mecânica Geral</h3>
          <p>Os serviços de mecânica geral para veículos são responsáveis pelo diagnóstico de problemas mecânicos,
            reparo
            e substituição de peças, troca de óleo e filtros, balanceamento e alinhamento de rodas, troca de pneus,
            revisão de freios, entre outros.</p>
        </div>
      </div><!-- End Service Item -->

      <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
        <div class="service-item position-relative">
          <div class="icon">
            <i class="fa-solid fa-bolt"></i>
          </div>
          <h3>Elétrica</h3>
          <p>Os serviços de elétrica para veículos são responsáveis pelo diagnóstico e reparo de sistemas elétricos de
            carros, incluindo bateria, alternador, motor de arranque, sistema de iluminação, sistema de ignição, entre
            outros.</p>
        </div>
      </div><!-- End Service Item -->

      <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
        <div class="service-item position-relative">
          <div class="icon">
            <i class="fa-solid fa-car"></i>
          </div>
          <h3>Funilária</h3>
          <p>Os serviços de funilaria para veículos incluem reparos de carroceria e pintura, que ajudam a recuperar a
            aparência e a funcionalidade do seu carro. Esses serviços são oferecidos para veículos que sofreram danos em
            colisões, arranhões, amassados, corrosão e outros tipos de desgaste.</p>
        </div>
      </div><!-- End Service Item -->

      <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
        <div class="service-item position-relative">
          <div class="icon">
            <i class="fa-solid fa-temperature-low"></i>
          </div>
          <h3>Ar Condicionado</h3>
          <p>A manutenção do sistema de ar condicionado é fundamental para garantir o bom funcionamento do sistema e
            prolongar sua vida útil. A manutenção preventiva inclui a verificação e substituição de componentes como o
            filtro de cabine, correias, condensador, compressor, mangueiras e válvulas de expansão.</p>
        </div>
      </div><!-- End Service Item -->

      <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="500">
        <div class="service-item position-relative">
          <div class="icon">
            <i class="fa-solid fa-magnifying-glass"></i>
          </div>
          <h3>Revisão</h3>
          <p>Os serviços de revisão para veículos incluem uma inspeção completa do veículo para garantir que todos os
            componentes estejam funcionando corretamente. A revisão é uma manutenção preventiva essencial para evitar
            problemas e garantir a segurança do veículo.</p>
        </div>
      </div><!-- End Service Item -->

    </div>

  </div>
</section><!-- End Services Section -->

<!-- ======= Alt Services Section ======= -->
<section id="marca" class="alt-services slider-three">
  <div class="container">

    <div class="section-header">
      <h2>Marcas</h2>
      <p>Na Java Centro Automotivo, trabalhamos com as principais marcas que atuam no mercado automotivo.</p>
    </div>

    <div class="slider-items-wrapper">
      <div class="row slider-items-active">
        <div class="col-lg-4" style="display: flex; justify-content: center; align-items: center;">
          <div class="single-items-one">
            <img src="~/assets/img/marcas/bmw-logo.png" />
          </div>
          <!-- single-items-one -->
        </div>
        <div class="col-lg-4" style="display: flex; justify-content: center; align-items: center;">
          <div class="single-items-one">
            <img src="~/assets/img/marcas/chevrolet-logo.png" />
          </div>
          <!-- single-items-one -->
        </div>
        <div class="col-lg-4" style="display: flex; justify-content: center; align-items: center;">
          <div class="single-items-one">
            <img src="~/assets/img/marcas/renault-logo.png" />
          </div>
          <!-- single-items-one -->
        </div>
        <div class="col-lg-4" style="display: flex; justify-content: center; align-items: center;">
          <div class="single-items-one">
            <img src="~/assets/img/marcas/ferrari-logo.webp" />
          </div>
          <!-- single-items-one -->
        </div>
        <div class="col-lg-4" style="display: flex; justify-content: center; align-items: center;">
          <div class="single-items-one">
            <img src="~/assets/img/marcas/volkswagen-logo.png" />
          </div>
          <!-- single-items-one -->
        </div>
        <div class="col-lg-4" style="display: flex; justify-content: center; align-items: center;">
          <div class="single-items-one">
            <img src="~/assets/img/marcas/hyundai-logo.png" />
          </div>
          <!-- single-items-one -->
        </div>
        <div class="col-lg-4" style="display: flex; justify-content: center; align-items: center;">
          <div class="single-items-one">
            <img src="~/assets/img/marcas/mercedes-logo.png" />
          </div>
          <!-- single-items-one -->
        </div>
        <div class="col-lg-4" style="display: flex; justify-content: center; align-items: center;">
          <div class="single-items-one">
            <img src="~/assets/img/marcas/toyota-logo.png" />
          </div>
          <!-- single-items-one -->
        </div>
        <div class="col-lg-4" style="display: flex; justify-content: center; align-items: center;">
          <div class="single-items-one">
            <img src="~/assets/img/marcas/ford-logo.png" />
          </div>
          <!-- single-items-one -->
        </div>
        <div class="col-lg-4" style="display: flex; justify-content: center; align-items: center;">
          <div class="single-items-one">
            <img src="~/assets/img/marcas/fiat-logo.png" />
          </div>
          <!-- single-items-one -->
        </div>
        <div class="col-lg-4" style="display: flex; justify-content: center; align-items: center;">
          <div class="single-items-one">
            <img src="~/assets/img/marcas/nissan-logo.png" />
          </div>
          <!-- single-items-one -->
        </div>
        <div class="col-lg-4" style="display: flex; justify-content: center; align-items: center;">
          <div class="single-items-one">
            <img src="~/assets/img/marcas/peugeot-logo.png" />
          </div>
          <!-- single-items-one -->
        </div>
        <div class="col-lg-4" style="display: flex; justify-content: center; align-items: center;">
          <div class="single-items-one">
            <img src="~/assets/img/marcas/honda-logo.png" />
          </div>
          <!-- single-items-one -->
        </div>
      </div>
      <!-- row -->
    </div>

  </div>
</section><!-- End Alt Services Section -->

<!-- ======= Get Started Section ======= -->
<section id="contato" class="get-started section-bg">
  <div class="container">

    <div class="row justify-content-between gy-4">

      <div class="col-lg-6 d-flex align-items-center" data-aos="fade-up">
        <div class="content">
          <h3>Ficou com alguma dúvida? Entre em contato conosco</h3>
        </div>
      </div>

      <div class="col-lg-5" data-aos="fade">
        <form action="forms/quote.php" method="post" class="php-email-form">
          <div class="row gy-3">

            <div class="col-md-12">
              <input type="text" name="name" class="form-control" placeholder="Nome" required>
            </div>

            <div class="col-md-12 ">
              <input type="email" class="form-control" name="email" placeholder="Email" required>
            </div>

            <div class="col-md-12">
              <input type="text" class="form-control" name="phone" placeholder="Telefone" required>
            </div>

            <div class="col-md-12">
              <input type="text" class="form-control" name="phone" placeholder="Assunto" required>
            </div>

            <div class="col-md-12">
              <textarea class="form-control" name="message" rows="6" placeholder="Mensagem" required></textarea>
            </div>

            <div class="col-md-12 text-center">
              <div class="loading">Loading</div>
              <div class="error-message"></div>
              <div class="sent-message">Your quote request has been sent successfully. Thank you!</div>

              <button type="submit">Enviar</button>
            </div>

          </div>
        </form>
      </div><!-- End Quote Form -->

    </div>

  </div>
</section><!-- End Get Started Section -->

@section Scripts{
  <script src="https://cdn.ayroui.com/1.0/js/tiny-slider.js"></script>
  <script>
    tns({
      autoplay: true,
      autoplayButtonOutput: false,
      mouseDrag: true,
      gutter: 0,
      container: ".slider-items-active",
      center: false,
      nav: true,
      navPosition: "bottom",
      controls: false,
      speed: 400,
      controlsText: [
        '<i class="lni lni-arrow-left-circle"></i>',
        '<i class="lni lni-arrow-right-circle"></i>',
      ],
      responsive: {
        0: {
          items: 1,
        },

        768: {
          items: 2,
        },
        992: {
          items: 4,
        },
      },
    });
  </script>
}

@section Styles{
  <link rel="stylesheet" href="https://cdn.ayroui.com/1.0/css/tiny-slider.css" />
  <style>
    .slider-three {
      background-color: var(--light-2);
      padding-top: 112px;
      padding-bottom: 130px;
    }

    .slider-three .section-title .title {
      font-size: 44px;
      line-height: 55px;
      font-weight: 600;
      color: var(--black);
    }

    .slider-three .section-title .text {
      color: var(--dark-3);
      margin-top: 24px;
    }

    .slider-three .slider-items-wrapper {
      position: relative;
    }

    .slider-three .slider-items-wrapper .tns-nav {
      width: 100%;
      z-index: 2;
      display: flex;
      justify-content: center;
      margin-top: 40px;
    }

    .slider-three .slider-items-wrapper .tns-nav button {
      width: 10px;
      height: 10px;
      border-radius: 50px;
      background-color: blue;
      opacity: 0.5;
      border: 0;
      margin: 0 5px;
      -webkit-transition: all 0.4s ease-out 0s;
      -moz-transition: all 0.4s ease-out 0s;
      -ms-transition: all 0.4s ease-out 0s;
      -o-transition: all 0.4s ease-out 0s;
      transition: all 0.4s ease-out 0s;
    }

    .slider-three .slider-items-wrapper .tns-nav button.tns-nav-active {
      width: 20px;
      opacity: 1;
      border-radius: 5px;
    }

    .slider-three .single-items-one {;
      margin-top: 40px;
    }

    .slider-three .single-items-one img {
      width: 100%;
      box-shadow: var(--shadow-2);
      border-radius: 10px;
    }
  </style>
}