@model CentroAutomotivo.Models.Veiculo
@{
    ViewData["Title"] = "Detalhes";
    Layout = "~/Views/Shared/_LayoutCliente.cshtml";
}

<div class="section-header" style="padding-bottom: 20px;">
    <h2 class="">Detalhes</h2>
</div>