@model CentroAutomotivo.Models.Agendamento

@{
    ViewData["Title"] = "Solicitar Agendamento";
    Layout = "~/Views/Shared/_LayoutCliente.cshtml";
}

<div class="section-header" style="padding-bottom: 20px;">
    <h2 class="">Solicitar Agendamento</h2>
</div>

<form asp-action="SolicitarAgendamento">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row">
        <div class="col-2">
            <div class="form-group">
                <label asp-for="DataHora" class="control-label"></label>
                <input asp-for="DataHora" class="form-control" />
                <span asp-validation-for="DataHora" class="text-danger"></span>
            </div>
        </div>
        <div class="col-2">
            <div class="form-group">
                <label asp-for="Telefone" class="control-label"></label>
                <input asp-for="Telefone" class="form-control" />
                <span asp-validation-for="Telefone" class="text-danger"></span>
            </div>
        </div>
        <div class="col-3">
            <div class="form-group">
                <label asp-for="VeiculoId" class="control-label"></label>
                <select asp-for="VeiculoId" class ="form-control" asp-items="ViewBag.VeiculoId"></select>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-7">
            <div class="form-group">
                <label asp-for="DescricaoProblema" class="control-label"></label>
                <textarea asp-for="DescricaoProblema" id="desc" class="form-control" rows="3"></textarea>
                <span asp-validation-for="DescricaoProblema" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col">
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Reboque" /> @Html.DisplayNameFor(model => model.Reboque)
                </label>
            </div>
        </div>
    </div>
    <div class="form-group mt-4">
        <input type="submit" value="Salvar" class="btn btn-success" />
        <a asp-action="Index" class="btn btn-danger">Cancelar</a>
    </div>
</form>