@page
@model RegisterModel
@{
  ViewData["Title"] = "Cadastrar";
  Layout = null;
}

<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link type="image/png" sizes="16x16" rel="icon" href="~/assets/img/icons8-carro-16.png">
  <title>
    @ViewData["Title"] | JAVA Centro Automotivo
  </title>
  <!-- Fonts and icons -->
  <link rel="stylesheet" type="text/css"
    href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900|Roboto+Slab:400,700" />
  <!-- Nucleo Icons -->
  <link href="~/dashboard/assets/css/nucleo-icons.css" rel="stylesheet" />
  <link href="~/dashboard/assets/css/nucleo-svg.css" rel="stylesheet" />
  <!-- Font Awesome Icons -->
  <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
  <!-- Material Icons -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet">
  <!-- CSS Files -->
  <link id="pagestyle" href="~/dashboard/assets/css/material-dashboard.css?v=3.0.0" rel="stylesheet" />
</head>

<body class="">
  <main class="main-content  mt-0">
    <section>
      <div class="page-header min-vh-100">
        <div class="container">
          <div class="row">
            <div
              class="col-6 d-lg-flex d-none h-100 my-auto pe-0 position-absolute top-0 start-0 text-center justify-content-center flex-column">
              <div
                class="position-relative bg-gradient-primary h-100 m-3 px-7 border-radius-lg d-flex flex-column justify-content-center"
                style="background-image: url('../../dashboard/assets/img/fundo-registro.png'); background-size: cover;">
              </div>
            </div>
            <div class="col-xl-4 col-lg-5 col-md-7 d-flex flex-column ms-auto me-auto ms-lg-auto me-lg-5">
              <div class="card card-plain">
                <div class="card-header">
                  <h4 class="font-weight-bolder">Cadastre-se</h4>
                  <p class="mb-0">Insira as informações abaixo para cadastrar</p>
                </div>
                <div class="card-body">
                  <form role="form" class="text-start" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="input-group input-group-outline mb-3">
                      <label class="form-label" asp-for="Input.Nome"></label>
                      <input class="form-control" asp-for="Input.Nome">
                      <span class="col-12 text-danger text-xs pt-1" asp-validation-for="Input.Nome"></span>
                    </div>
                    <div class="input-group input-group-outline mb-3">
                      <label class="form-label" asp-for="Input.CPF"></label>
                      <input id="CPF" class="form-control" asp-for="Input.CPF">
                      <span class="col-12 text-danger text-xs pt-1" asp-validation-for="Input.CPF"></span>
                    </div>
                    <div class="input-group input-group-outline mb-3">
                      <label class="form-label" asp-for="Input.Email"></label>
                      <input class="form-control" asp-for="Input.Email">
                      <span class="col-12 text-danger text-xs pt-1" asp-validation-for="Input.Email"></span>
                    </div>
                    <div class="input-group input-group-outline mb-3">
                      <label class="form-label" asp-for="Input.Password"></label>
                      <input class="form-control" asp-for="Input.Password">
                      <span class="col-12 text-danger text-xs pt-1" asp-validation-for="Input.Password"></span>
                    </div>
                    <div class="input-group input-group-outline mb-3">
                      <label class="form-label" asp-for="Input.ConfirmPassword"></label>
                      <input class="form-control" asp-for="Input.ConfirmPassword">
                      <span class="col-12 text-danger text-xs pt-1" asp-validation-for="Input.ConfirmPassword"></span>
                    </div>
                    <div class="text-center">
                      <button type="submit"
                        class="btn btn-lg bg-gradient-info btn-lg w-100 mt-4 mb-0">Cadastrar</button>
                    </div>
                  </form>
                </div>
                <div class="card-footer text-center pt-0 px-lg-2 px-1">
                  <p class="mb-2 text-sm mx-auto">
                    Já possui uma conta?
                    <a asp-area="Identity" asp-page="/Account/Login"
                      class="text-primary text-info font-weight-bold">Entrar</a>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>

  <script src="~/dashboard/assets/js/core/popper.min.js"></script>
  <script src="~/dashboard/assets/js/core/bootstrap.min.js"></script>
  <script src="~/dashboard/assets/js/plugins/perfect-scrollbar.min.js"></script>
  <script src="~/dashboard/assets/js/plugins/smooth-scrollbar.min.js"></script>
  <script>
    var win = navigator.platform.indexOf('Win') > -1;
    if (win && document.querySelector('#sidenav-scrollbar')) {
      var options = {
        damping: '0.5'
      }
      Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
    }
  </script>
  <script async defer src="https://buttons.github.io/buttons.js"></script>
  <script src="~/dashboard/assets/js/material-dashboard.min.js?v=3.0.5"></script>
  <script defer src="https://static.cloudflareinsights.com/beacon.min.js/v52afc6f149f6479b8c77fa569edb01181681764108816"
    integrity="sha512-jGCTpDpBAYDGNYR5ztKt4BQPGef1P0giN6ZGVUi835kFF88FOmmn8jBQWNgrNd8g/Yu421NdgWhwQoaOPFflDw=="
    data-cf-beacon='{"rayId":"7bb8e53f5cbc00ee","version":"2023.3.0","r":1,"token":"1b7cbb72744b40c580f8633c6b62637e","si":100}'
    crossorigin="anonymous"></script>
  <!-- Mask -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://rawgit.com/RobinHerbots/Inputmask/5.x/dist/jquery.inputmask.js"></script>
  <script>
    $(document).ready(function () {
      $("#CPF").inputmask('999.999.999-99');
    });
  </script>
  <partial name="_ValidationScriptsPartial" />
</body>

</html>
