.avatar {
    position: relative;
}

.avatar-50 {
    height: 50px;
    width: 50px;
    min-width: 50px;
    border-radius: 0.25rem;
}

.avatar-rounded {
    border-radius: 50rem;
    overflow: hidden;
}

td, th{
    font-size: 16px;
}