@model CentroAutomotivo.Models.Agendamento

@{
    ViewData["Title"] = "Editar Agendamento";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Agendamentos</h1>
<h6>Editar</h6>
<hr />

<div class="row">
    <div class="col">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="form-group col-3">
                    <label asp-for="DataHora" class="control-label"></label>
                    <input readonly asp-for="DataHora" class="form-control" />
                    <span asp-validation-for="DataHora" class="text-danger"></span>
                </div>
                <div class="form-group col-3">
                    <label asp-for="Telefone" class="control-label"></label>
                    <input readonly asp-for="Telefone" class="form-control" />
                    <span asp-validation-for="Telefone" class="text-danger"></span>
                </div>
                <div class="form-group col-3">
                    <label class="control-label">Proprietário</label>
                    <input value="@Model.Veiculo.AppUser.Nome" class="form-control" readonly />
                </div>
                <div class="form-group col-3">
                    <label class="control-label">Veículo</label>
                    <input value="@Model.Veiculo.Nome" class="form-control" readonly />
                </div>
                <div class="form-group col-2">
                    <label asp-for="Reboque" class="control-label"></label>
                    @{
                        string Reboque;

                        switch (Model.Reboque)
                        {
                            case true:
                                Reboque = "Sim";
                            break;

                            case false:
                                Reboque = "Não";
                            break;
                        }
                    }
                    <input value="@Reboque" class="form-control" readonly />
                    <input asp-for="Reboque" class="form-control" hidden/>
                </div>
                <div class="form-group col-3">
                    <label asp-for="StatusOrdemServicoId" class="control-label"></label>
                    <select asp-for="StatusOrdemServicoId" id="statusCombo" class="form-control"
                        asp-items="ViewBag.StatusOrdemServicoId"></select>
                    <span asp-validation-for="StatusOrdemServicoId" class="text-danger"></span>
                </div>
                <div class="form-group col-3" hidden>
                    <label asp-for="VeiculoId" class="control-label"></label>
                    <input asp-for="VeiculoId" class="form-control" />
                </div>
            </div>

            <div class="row mt-3">
                <div class="form-group col-6">
                    <label asp-for="DescricaoProblema" class="control-label"></label>
                    <textarea readonly asp-for="DescricaoProblema" class="form-control" rows="3"></textarea>
                    <span asp-validation-for="DescricaoProblema" class="text-danger"></span>
                </div>

                <div class="form-group col-6">
                    <label asp-for="Resposta" class="control-label"></label>
                    <textarea asp-for="Resposta" class="form-control" rows="3"></textarea>
                    <span asp-validation-for="Resposta" class="text-danger"></span>
                </div>
            </div>

            @if(Model.Reboque)
            {
                <h4 class="mt-3">Endereço</h4>
                <div class="row">
                    <div class="form-group col-2">
                        <label asp-for="CEP" class="control-label"></label>
                        <input asp-for="CEP" class="form-control" readonly />
                    </div>
                    <div class="form-group col-5">
                        <label asp-for="Rua" class="control-label"></label>
                        <input asp-for="Rua" class="form-control" readonly />
                    </div>
                    <div class="form-group col-2">
                        <label asp-for="Numero" class="control-label"></label>
                        <input asp-for="Numero" class="form-control" readonly />
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-4">
                        <label asp-for="Bairro" class="control-label"></label>
                        <input asp-for="Bairro" class="form-control" readonly />
                    </div>
                    <div class="form-group col-3">
                        <label asp-for="Cidade" class="control-label"></label>
                        <input asp-for="Cidade" class="form-control" readonly />
                    </div>
                    <div class="form-group col-2">
                        <label asp-for="UF" class="control-label"></label>
                        <input asp-for="UF" class="form-control" readonly />
                    </div>
                </div>
            }

            <div class="row mt-3">
                <div class="form-group col-12">
                    <div id="accordion">
                        <div class="card">
                            <div class="card-header" id="headingTwo">
                                <div class="collapsed d-flex align-items-center justify-content-between" data-toggle="collapse"
                                    data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" style="cursor: pointer;">
                                    <h5>
                                        Veículo
                                    </h5>

                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                                        class="bi bi-arrow-down-circle" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd"
                                            d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V4.5z" />
                                    </svg>
                                </div>
                            </div>
                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-lg-7">
                                            <div class="row">
                                                <div class="form-group col-6">
                                                    <label asp-for="Veiculo.Nome" class="control-label"></label>
                                                    <input asp-for="Veiculo.Nome" class="form-control" readonly />
                                                </div>
                                                <div class="form-group col-6">
                                                    <label asp-for="Veiculo.AppUserId" class="control-label"></label>
                                                    <input asp-for="Veiculo.AppUser.Nome" class="form-control" readonly />
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group col-3">
                                                    <label asp-for="Veiculo.Placa" class="control-label"></label>
                                                    <input asp-for="Veiculo.Placa" class="form-control" readonly />
                                                </div>
                                                <div class="form-group col-4">
                                                    <label asp-for="Veiculo.ModeloId" class="control-label"></label>
                                                    <input asp-for="Veiculo.Modelo.Nome" class="form-control" readonly />
                                                </div>
                                                <div class="form-group col-3">
                                                    <label asp-for="Veiculo.Modelo.MarcaId" class="control-label"></label>
                                                    <input asp-for="Veiculo.Modelo.Marca.Nome" class="form-control" readonly />
                                                </div>
                                                <div class="form-group col-2">
                                                    <label asp-for="Veiculo.Modelo.Ano" class="control-label"></label>
                                                    <input asp-for="Veiculo.Modelo.Ano" class="form-control" readonly />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-5">
                                            <div class="row">
                                                <div class="form-group col-12 custom">
                                                    <label asp-for="Veiculo.Imagem" class="control-label"></label>
                                                    @if (Model.Veiculo.Imagem != null)
                                                    {
                                                        <img src="@Model.Veiculo.Imagem" class="img-fluid border" alt=""
                                                        style="min-width: 500px; height: auto; max-width: 100%;">
                                                    }
                                                    else
                                                    {
                                                        <h4 class="text-center text-danger">Não há imagem para este Veículo</h4>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group mt-2">
                <input type="submit" value="Salvar" class="btn btn-success" />
                <a asp-action="Index" class="btn btn-danger">Cancelar</a>
            </div>
        </form>
    </div>
</div>