@model CentroAutomotivo.Models.Agendamento

@{
    ViewData["Title"] = "Editar Agendamento";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Agendamentos</h1>
<h6>Editar</h6>
<hr />

<div class="row">
    <div class="col">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="form-group col-2">
                    <label asp-for="DataHora" class="control-label"></label>
                    <input readonly asp-for="DataHora" class="form-control" />
                    <span asp-validation-for="DataHora" class="text-danger"></span>
                </div>
                <div class="form-group col-2">
                    <label asp-for="Telefone" class="control-label"></label>
                    <input readonly asp-for="Telefone" class="form-control" />
                    <span asp-validation-for="Telefone" class="text-danger"></span>
                </div>
                <div class="form-group col-3">
                    <label class="control-label">Proprietário</label>
                    <input value="@Model.Veiculo.AppUser.Nome" class="form-control" readonly />
                </div>
                <div class="form-group col-3">
                    <label class="control-label">Veículo</label>
                    <input value="@Model.Veiculo.Nome" class="form-control" readonly />
                </div>
                <div class="form-group col-2">
                    <label asp-for="Reboque" class="control-label"></label>
                    @{
                        string Reboque;

                        switch (Model.Reboque)
                        {
                            case true:
                                Reboque = "Sim";
                            break;

                            case false:
                                Reboque = "Não";
                            break;
                        }
                    }
                    <input value="@Reboque" class="form-control" readonly />
                </div>
                <div class="form-group col-3">
                    <label asp-for="StatusOrdemServicoId" class="control-label"></label>
                    <select asp-for="StatusOrdemServicoId" id="statusCombo" class="form-control"
                        asp-items="ViewBag.StatusOrdemServicoId"></select>
                    <span asp-validation-for="StatusOrdemServicoId" class="text-danger"></span>
                </div>
                <div class="form-group col-3" hidden>
                    <label asp-for="VeiculoId" class="control-label"></label>
                    <input asp-for="VeiculoId" class="form-control" />
                </div>
            </div>

            <div class="row mt-3">
                <div class="form-group col-6">
                    <label asp-for="DescricaoProblema" class="control-label"></label>
                    <textarea readonly asp-for="DescricaoProblema" class="form-control" rows="3"></textarea>
                    <span asp-validation-for="DescricaoProblema" class="text-danger"></span>
                </div>

                <div class="form-group col-6">
                    <label asp-for="Resposta" class="control-label"></label>
                    <textarea asp-for="Resposta" class="form-control" rows="3"></textarea>
                    <span asp-validation-for="Resposta" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group mt-2">
                <input type="submit" value="Salvar" class="btn btn-success" />
                <a asp-action="Index" class="btn btn-danger">Cancelar</a>
            </div>
        </form>
    </div>
</div>