@model CentroAutomotivo.Models.StatusOrdemServico

@{
    ViewData["Title"] = "Adicionar Status";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Status Ordem</h1>
<h6>Adicionar</h6>
<hr />
<div class="row">
    <div class="col">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="form-group col-4">
                    <label asp-for="Nome" class="control-label"></label>
                    <input asp-for="Nome" class="form-control" />
                    <span asp-validation-for="Nome" class="text-danger"></span>
                </div>
                <div class="form-group col-2">
                    <label asp-for="Cor" class="control-label"></label>
                    <input id="cp1" asp-for="Cor" class="form-control" />
                    <span asp-validation-for="Cor" class="text-danger"></span>
                </div>
                <div class="form-group col-3">
                    <label asp-for="TipoStatusId" class="control-label"></label>
                    <select asp-for="TipoStatusId" class="form-control custom-select" asp-items="ViewBag.TipoStatusId">
                        <option selected disabled>Selecione...</option>
                    </select>
                    <span asp-validation-for="TipoStatusId" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-success" />
                <a asp-action="Index" class="btn btn-danger">Cancelar</a>
            </div>
        </form>
    </div>
</div>

@section Styles{
    <link href="~/dist/css/bootstrap-colorpicker.css" rel="stylesheet">
}

@section Scripts{
    <script src="//code.jquery.com/jquery-3.4.1.js"></script>
    <script src="//unpkg.com/bootstrap@4.3.1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/dist/js/bootstrap-colorpicker.js"></script>
    <script>
        $(function () {
            $('#cp1').colorpicker();
        });
    </script>
}